<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FoodFinder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <filter>
		<filter-name>SetCharEncoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<context-param>
		<param-name>OracleDriver</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>OracleURL</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	<context-param>
		<param-name>OracleId</param-name>
		<param-value>c##foodfinder</param-value>
	</context-param>
	<context-param>
		<param-name>OraclePwd</param-name>
		<param-value>food1234</param-value>
	</context-param>
	
	<context-param>
   		<param-name>POSTS_PER_PAGE</param-name>
  	 	<param-value>10</param-value>
   </context-param>
   <context-param>
  	 	<param-name>PAGES_PER_BLOCK</param-name>
   		<param-value>5</param-value>
   </context-param>
  
  
  <!-- 로그인 관련 -->
	<servlet>
		<servlet-name>FoodLogin</servlet-name>
		<servlet-class>exffff.FoodLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodLogin</servlet-name>
		<url-pattern>/EXFFFF/Member/Login.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FindID</servlet-name>
		<servlet-class>exffff.FindControler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindID</servlet-name>
		<url-pattern>/EXFFFF/Member/FindIdHome.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FoodNewMember</servlet-name>
		<servlet-class>exffff.NewmemberController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodNewMember</servlet-name>
		<url-pattern>/EXFFFF/Main/Newmember.do</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>NewmemberCheckid</servlet-name>
		<servlet-class>exffff.NewmemberCheckController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewmemberCheckid</servlet-name>
		<url-pattern>/EXFFFF/Member/Newmembercheck.do</url-pattern>
	</servlet-mapping>
		
		
	<!-- 소식 -->	
	<servlet>
		<servlet-name>IntroListController</servlet-name>
		<servlet-class>intro.IntrolistController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IntroListController</servlet-name>
		<url-pattern>/EXFFFF/Intro/IntroList.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IntroViewController</servlet-name>
		<servlet-class>intro.IntroViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IntroViewController</servlet-name>
		<url-pattern>/EXFFFF/Intro/IntroView.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- 푸드게시판 -->
	<servlet>
		<servlet-name>FoodBoardList</servlet-name>
		<servlet-class>food.FoodBoard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodBoardList</servlet-name>
		<url-pattern>/EXFFFF/Food/FoodList.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FoodBoardWrite</servlet-name>
		<servlet-class>food.FoodWrite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodBoardWrite</servlet-name>
		<url-pattern>/EXFFFF/Food/FoodWrite.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FoodBoardView</servlet-name>
		<servlet-class>food.FoodView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodBoardView</servlet-name>
		<url-pattern>/EXFFFF/Food/FoodView.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- 문의사항 -->
	<servlet>
		<servlet-name>QuestionWrite</servlet-name>
		<servlet-class>questionBoard.QuestionWrite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionWrite</servlet-name>
		<url-pattern>/EXFFFF/Question/QuestionBoard.do</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>QuestionWriteAdmin</servlet-name>
		<servlet-class>questionBoard.WriteAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionWriteAdmin</servlet-name>
		<url-pattern>/EXFFFF/Admin/QuestionWrite.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QuestionListUesr</servlet-name>
		<servlet-class>questionBoard.QuestionListUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionListUesr</servlet-name>
		<url-pattern>/EXFFFF/Question/QeustionListUser.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QuestionListAdmin</servlet-name>
		<servlet-class>questionBoard.QuestionListAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionListAdmin</servlet-name>
		<url-pattern>/EXFFFF/Admin/AdminQuestion.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QuestionViewAdmin</servlet-name>
		<servlet-class>questionBoard.ViewAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionViewAdmin</servlet-name>
		<url-pattern>/EXFFFF/Admin/QuestionView.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QuestionViewUser</servlet-name>
		<servlet-class>questionBoard.ViewUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionViewUser</servlet-name>
		<url-pattern>/EXFFFF/Question/QeustionViewUser.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- 마이페이지 -->
	<servlet>
		<servlet-name>MyPageController</servlet-name>
		<servlet-class>exffff.MyPageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyPageController</servlet-name>
		<url-pattern>/EXFFFF/MyPage/MyPageProfile.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyPagewriteController</servlet-name>
		<servlet-class>exffff.MyPagewriteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyPagewriteController</servlet-name>
		<url-pattern>/EXFFFF/MyPage/MyPagewrite.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyPagelistController</servlet-name>
		<servlet-class>exffff.MyPagelistController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyPagelistController</servlet-name>
		<url-pattern>/EXFFFF/MyPage/MyPagelist.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyPageSetprofilepassController</servlet-name>
		<servlet-class>mypageBoard.MyPageSetprofilepassController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyPageSetprofilepassController</servlet-name>
		<url-pattern>/EXFFFF/MyPage/MyPageSetprofilepass.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyPageSetprofileController</servlet-name>
		<servlet-class>mypageBoard.MyPageSetprofile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyPageSetprofileController</servlet-name>
		<url-pattern>/EXFFFF/MyPage/MyPageSetprofile.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MyPageViewController</servlet-name>
		<servlet-class>mypageBoard.MyPageViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyPageViewController</servlet-name>
		<url-pattern>/EXFFFF/MyPage/MyPageView.do</url-pattern>
	</servlet-mapping> 

</web-app>
